body { 
  font-size: 2em; 
  padding: 80px;
}

.container {
  width: 100%;
  border: 1px solid red;
}

.carCards {
  min-height: 300px;
}

.carCardClicked {
  border: 8px solid black;
  min-height: 300px;
  background-color: orange;
}




